<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moralok.mybatis.mapper.EmployeeMapper">
    <insert id="addEmployee" parameterType="com.moralok.mybatis.bean.Employee"
            useGeneratedKeys="true" keyProperty="id">
        insert into tbl_employee (last_name, gender, email)
        values (#{lastName}, #{gender}, #{email})
    </insert>
    <update id="updateEmployee">
        update tbl_employee
        set last_name = #{lastName}, gender = #{gender}, email = #{email}
        where id = #{id}
    </update>
    <delete id="deleteEmployeeById">
        delete from tbl_employee where id = #{id}
    </delete>
    <!--namespace：名称空间(接口式编程，应该使用接口全类名)-->
    <!--id：唯一标识-->
    <!--resultType：返回值类型-->
    <!--#{id}：从传递过来的参数中取出id值-->

    <select id="getEmployeeById" resultType="emp" databaseId="mysql">
        select * from tbl_employee where id = #{id}
    </select>
    <select id="getEmployeeById" resultType="emp" databaseId="oracle">
        select EMPLOYEE_ID id, LAST_NAME lastName, EMAIL email from tbl_employee where id = #{id}
    </select>
    <select id="getEmployeeByIdAndLastName" resultType="com.moralok.mybatis.bean.Employee">
        select * from tbl_employee where id = #{id} and last_name = #{lastName}
    </select>
    <select id="getEmployeeByMap" resultType="com.moralok.mybatis.bean.Employee">
        select * from tbl_employee where id = #{id} and last_name = #{lastName}
    </select>
    <select id="listEmployeeByLastNameLike" resultType="com.moralok.mybatis.bean.Employee">
        select * from tbl_employee where last_name like #{lastName}
    </select>
    <select id="getEmployeeByIdReturnMap" resultType="java.util.Map">
        select * from tbl_employee where id = #{id}
    </select>
    <select id="listEmployeeByLastNameReturnMap" resultType="com.moralok.mybatis.bean.Employee">
        select * from tbl_employee where last_name like #{lastName}
    </select>
    <select id="listEmployeesByDeptId" resultType="com.moralok.mybatis.bean.Employee">
        select * from tbl_employee where d_id = #{deptId}
    </select>
</mapper>
