<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<!--部署文件 DD-->
<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!--上下文初始化参数-->
  <context-param>
    <param-name>breed</param-name>
    <param-value>Great Dane</param-value>
  </context-param>

  <!--上下文监听者-->
  <listener>
    <listener-class>com.moralok.servlet.listener.MyServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.moralok.servlet.listener.SessionCounter</listener-class>
  </listener>
  <listener>
    <listener-class>com.moralok.servlet.listener.MyHttpSessionAttributeListener</listener-class>
  </listener>

  <filter>
    <filter-name>Ch13 Filter</filter-name>
    <filter-class>com.moralok.servlet.filter.RequestFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>Ch13 Filter</filter-name>
    <servlet-name>Ch1 Servlet</servlet-name>
  </filter-mapping>

  <!--servlet 映射-->
  <servlet>
    <servlet-name>Ch1 Servlet</servlet-name>
    <servlet-class>com.moralok.servlet.web.Ch1Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ch3 Servlet</servlet-name>
    <servlet-class>com.moralok.servlet.web.BeerSelect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ch4 RequestTest</servlet-name>
    <servlet-class>com.moralok.servlet.web.HttpServletRequestTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ch4 DownloadCsv</servlet-name>
    <servlet-class>com.moralok.servlet.web.DownloadCsv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ch5 TestInitParams</servlet-name>
    <servlet-class>com.moralok.servlet.web.TestInitParams</servlet-class>
    <init-param>
      <param-name>myEmail</param-name>
      <param-value>admin@moralok.com</param-value>
    </init-param>
    <init-param>
      <param-name>myName</param-name>
      <param-value>moralok</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>Ch6 TestSession</servlet-name>
    <servlet-class>com.moralok.servlet.web.TestSession</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ch6 TestCookie</servlet-name>
    <servlet-class>com.moralok.servlet.web.TestCookie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListenerTest</servlet-name>
    <servlet-class>com.moralok.servlet.web.ListenerTest</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Ch1 Servlet</servlet-name>
    <url-pattern>/Ch1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ch3 Servlet</servlet-name>
    <url-pattern>/SelectBeer.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ch4 RequestTest</servlet-name>
    <url-pattern>/RequestTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ch4 DownloadCsv</servlet-name>
    <url-pattern>/DownloadCsv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ch5 TestInitParams</servlet-name>
    <url-pattern>/TestInitParams</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ch6 TestSession</servlet-name>
    <url-pattern>/TestSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ch6 TestCookie</servlet-name>
    <url-pattern>/TestCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListenerTest</servlet-name>
    <url-pattern>/ListenerTest</url-pattern>
  </servlet-mapping>

</web-app>
